<%- include("./headers/header",{title:title,user : user}) %>

<div class="form-group">
    <label for="img">IMG :</label>
    <input class="form-control" id="img" type="text" name="img" pattern="https?://.+" required/>
</div>
<%- include("./headers/footer",{title:"your_title"}) %>